.zambezi-stacked-grid {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.zambezi-stacked-grid .grid-page {
  /* height: 100%; 
  display: inline-block;
  */
  position: absolute;
  left: 0;
  width: 500px;
  height:600px;
}
